body {
    margin: 0;
    font-family: 'PT Sans', sans-serif !important;
    background-color: rgba(0, 0, 0, .02);
}

.backlogContainer {
    height: calc(100vh - 32px);
    padding: 32px;
    padding-top: 0;
    width: 930px;
    position: relative;
    margin-left: 140px;
}

.headlineContainer {
    position: sticky;
    background-color: white;
    z-index: 1;
    top: 0;
    padding-top: 40px;
    padding-left: 8px;
    margin: 0px -8px;
    background-color: #fafafa;
}

.headlineContainer>h2 {
    margin: 0;
    font-size: 1.7em;
}

.headlineContainer>p {
    margin: 0;
    font-size: .8em;
    color: #1f1fa0;
    margin-bottom: 48px;
}

.blHeader {
    display: flex;
    margin-bottom: 24px;
    color: #1f1fa0;
    font-weight: bold;
}

#backlogContent {
    margin-top: 32px;
    padding-bottom: 32px;
}

.assigned {
    width: 30%;
}

.category {
    width: 20%;
    text-align: center;
}

.details {
    width: 50%;
    text-align: right;
}