body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.main-Container {
    margin-left: 150px;
    width: 100% -150px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.board-field {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
    width: 20%;
}

.board-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.board-title p {
    margin-bottom: 8px;
}

.board-draganddrop {
    background-color: #f2f1fa;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.board-task {
    background-color: white;
    width: 80%;
    margin: 4px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}





.board-urgency-high{
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: red;
}

.board-urgency-middle{
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: rgb(231, 231, 64);
}

.board-urgency-low{
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: darkgreen;
}

.board-task-date{
    font-size: 11px;
    text-align: left;
    font-weight: normal;
    
    padding-right: 4px;
    padding-left: 8px;
}

.board-date-border{
    padding-bottom: 4px;
    border-bottom: rgba(0,0,0, 0.5);
    border-bottom-style: solid;
    border-width: 1px;
}

.board-responsible{
    font-size: 14px;
    text-align: left;
    padding-right: 4px;
    padding-left: 8px;
  
}

.board-responsible-user{
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    padding-right: 4px;
    padding-left: 8px;
}

.board-taskchange-br{
    position: fixed;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0, 0.5);
    margin-left: 150px;

}

.board-taskchange {
    position: fixed;
    padding: 24px;
    background-color: #f4f3fb;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}



.d-none{
    display: none;
}