<div class="navbar">
    <div class="navbar-logo">
        <img src="img/joinlogo.png">
    </div>
    <div class="responsive-menu">
        <img onclick="showSidemenu()" src="img/list.png">
    </div>
    <div class="navbar-link">
        <a id="board" href="board.html">Board</a>
        <a id="backlog" href="backlog.html">Backlog</a>
        <a id="addtask" href="addtask.html">Add Task</a>
        <a id="help" href="help.html">Help</a>
    </div>
    <div class="navbar-user">
        <img src="img/userimg/man.png">
    </div>
    <div class="navbar-link navbar-linkbottom">
        <a id="impressum" href="impressum.html">Impressum</a>
    </div>
</div>
<div  id="navbar-responsive" class="navbar-responsive">
    <div class="navbar-link-responsive">
        <a id="board" href="board.html">Board</a>
        <a id="backlog" href="backlog.html">Backlog</a>
        <a id="addtask" href="addtask.html">Add Task</a>
        <a id="help" href="help.html">Help</a>
        <a id="impressum" href="impressum.html">Impressum</a>
    </div>
    <div class="navbar-user-responsive">
        <img src="img/userimg/man.png">
    </div>
</div>