<div class="navbar">
    <div class="navbar-logo">
        <img src="img/joinlogo.png">
    </div>
    <div class="responsive-menu">
        <img onclick="showSidemenu()" src="img/list.png">
    </div>
    <div class="navbar-link">
        <a id="board" href="board.html">Board</a>
        <a id="backlog" href="backlog.html">Backlog</a>
        <a id="addtask" href="addtask.html">Add Task</a>
        <a id="help" href="help.html">Help</a>
    </div>
    <div class="navbar-user">
        <img src="img/userimg/man.png">
    </div>
    <div class="navbar-link navbar-linkbottom">
        <a id="datenschutz" href="datenschutz.html">Datenschutz</a>
        <a id="impressum" href="impressum.html">Impressum</a>
    </div>
</div>
<div  id="navbar-responsive" class="navbar-responsive">
    <div class="navbar-back"><img onclick="closeSidemenu()" src="img/go-back-white.png"></div>
    <div class="navbar-link-responsive">
        <a id="board-responsive" href="board.html">Board</a>
        <a id="backlog-responsive" href="backlog.html">Backlog</a>
        <a id="addtask-responsive" href="addtask.html">Add Task</a>
        <a id="help-responsive" href="help.html">Help</a>
        <a id="datenschutz-responsive" href="datenschutz.html">Datenschutz</a>
        <a id="impressum-responsive" href="impressum.html">Impressum</a>
    </div>
    <div class="navbar-user-responsive">
        <img src="img/userimg/man.png">
    </div>
</div>